.nexus-logo {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'cursive';
  background: linear-gradient(135deg, #6e00ff, #95c2d3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  cursor: pointer;
}


.formBgColor {
  background-color: #ffe9d1;
}

.passwordEyes {
  position: absolute;
  top: 35px;
  right: 15px;
  cursor: pointer;
  z-index: 1;
}

.bgTheme {
  background-color: #5E35B1;
}

.bgTheme.btn:hover {
  cursor: pointer;
  background: lavender !important;
  border-color: #5E35B1;
  color: #5E35B1;
}

.textTheme {
  color: #5E35B1;
}

.borderTheme {
  border: 1px solid #5E35B1;
}

.borderTheme-b {
  border-bottom: 1px solid #5E35B1;
}

.borderTheme-t {
  border-top: 1px solid #5E35B1;
}

.borderTheme-r {
  border-right: 1px solid #5E35B1;
}

.borderTheme-l {
  border-left: 1px solid #5E35B1;
}

.schoolBoyAnimation {
  height: 150px;
  width: 150px;
}


.btn-theme {
  border: 1px solid #5E35B1;
  color: #5E35B1;
  background: transparent;
  transition: all 0.3s ease;
}

.btn-theme:hover {
  background: #5E35B1;
  color: white;
}
