.nexus-logo {
  background: linear-gradient(135deg, 
    #6e00ff, 
    #95c2d3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
}

.formBgColor{
  background-color: #ffe9d1;
}

.shadow-top-bottom {
    box-shadow: 
        0 -4px 6px -1px rgba(0, 0, 0, 0.1), /* Top shadow */
        0 4px 6px -1px rgba(0, 0, 0, 0.1);  /* Bottom shadow */
}

