.nexus-logo {
  background: linear-gradient(135deg, 
    #6e00ff, 
    #95c2d3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
}

.formBgColor{
  background-color: #ffe9d1;
}

.passwordEyes{
  position: absolute;
  top: 35px;
  right: 15px;
  cursor: pointer;
  z-index: 1;
}